/* #4056A1 */
nav {
  top: 0;
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #4056a1;
  background-image: url(../images/fabric-background.png);
  height: 120px; 
  width: 100vw;
  color: #FFF;
  z-index: 1;
 }

 .fa-angles-down {
  color: red;
  align-self: center;
  margin-top: 0.2em;
}

@keyframes arrow-move {
  0% {
    top: 0px;
  }
  25% {
    top: 5px;
  }
  50% {
    top: 8px;
  }
  75% {
    top: 5px;
  }
  100% {
    top: 0px;
  }
}

.write-new_tweet:hover > .arrow-move {
  animation-name: arrow-move;
  animation-duration: 0.9s;
  animation-iteration-count: infinite;
  position: relative;
}

.write-new_tweet:hover {
  cursor: pointer;
}

#main-logo {
  font-family: 'Bungee', cursive;
  margin-left: 1.5em;
 }

.write-new_tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 1.5em;
}

span.bold {
  font-weight: bold;
}

@media only screen and (min-width: 1024px) {
  .navbar {
    background-color: #4056a1;
  }
}

