/* #4056A1 */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #3E54A2;
  height: 120px; 
  width: 100vw;
  color: #FFF;
 }

#main-logo {
  font-family: 'Bungee', cursive;
  margin-left: 1.5em;
 }

 .write-new_tweet {
   display: flex;
   flex-direction: column;
   align-items: center;
   margin-right: 1.5em;
 }

 .bold {
   font-weight: bold;
 }
