.new-tweet {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.new-tweet_container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%;
}

.error-box {
  color: #F00;
  font-size: 0.7em;
  font-weight: bold;
  font-family: sans-serif;
  padding: 0.7em;
}

.new-tweet_container form {
  display: flex:
  flex-directon: column;
  width: 95%;
  margin-top: 3em;
}

.new-tweet_container textarea {
  font-weight: 600;
  width: 100%;
  height: 100px;
  color: #57534B;
  border-left: 0;
  border-right: 0;
  border-top: 0;
  outline: 0;
  border-bottom: 4px solid #57534B;
  background-color: #F4F1EC;
  resize: none;
}

.submit-section {
  display: flex;
  justify-content: space-between;
  font-family: 'Bungee', cursive;
}

.submit-section button {
  color: #FFF;
  background-color: #4056A1;
  margin-top: 10px;
}

.counter {
  font-family: 'Bungee', cursive;
  color: #57534B;
  margin-top: 0.3em;
}

@media only screen and (min-width: 1024px) {
  main.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    margin: 0;
  }

  .new-tweet {
    width: 90%;
    margin-right: 4em;
  }

  .new-tweet_container {
    width: 100%;
    margin-right: 2.5em;
  }

}
